<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>View employees</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
	$(document).ready(
			function() {
				$.getJSON("http://localhost:8080/employees", function(result) {
					$.each(result, function(key, value) {
						$("#employeesJson").append(
								value.id + " " + value.name + " " + value.age
										+ " " + value.salary + "<br>");
					});
				});
			});
</script>
</head>

<body>
	<div id="employeesJson"></div>
</body>
</html>